In [16]:
%load_ext autoreload
%autoreload 2
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
from model import *
from neuron import *
from datetime import datetime,timedelta

np.random.seed(10)

DATA_DIR = Path("../../data")
res = pd.read_csv(DATA_DIR / "first_diagnosis.csv")[["Patient","EntryDate"]]
positive = res['Patient']
date_of_pos =res['EntryDate']

negative = pd.read_csv(DATA_DIR / "ckd_negative.csv")["Patient_id"]

TRN_PORTION = 0.7

pos_trn_idxs, pos_tst_idxs, neg_trn_idxs, neg_tst_idxs = generate(len(positive), len(negative), TRN_PORTION)

pos_trn = positive[pos_trn_idxs].values
pos_tst = positive[pos_tst_idxs].values
neg_trn = negative[neg_trn_idxs].values
neg_tst = negative[neg_tst_idxs].values
date_of_pos_trn = date_of_pos[pos_trn_idxs].values
date_of_pos_tst = date_of_pos[pos_tst_idxs].values

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
print(type(pos_trn))

# pos_trn = pos_trn.values
print(pos_trn.shape)
# pos_tst = pos_tst.values
# neg_trn = neg_trn.values
# neg_tst = neg_tst.values
# pos_trn.to_csv(DATA_DIR/"TRN"/"pos_trn.csv", index=False)
# pos_tst.to_csv(DATA_DIR/"TST"/"pos_tst.csv", index=False)
# neg_trn.to_csv(DATA_DIR/"TRN"/"neg_trn.csv", index=False)
# neg_tst.to_csv(DATA_DIR/"TST"/"neg_tst.csv", index=False)

<class 'numpy.ndarray'>
(965,)

In [18]:
time_delta = timedelta(days=0)
pos_patients = [Patient(p, datetime.strptime(date_of_pos_trn[i], "%Y-%m-%d").date()-time_delta) for i, p in enumerate(pos_trn)]

In [19]:
neg_patients = [Patient(p,None) for p in neg_trn]

In [20]:
def convert_to_df(patients):
    features = []
    for patient in patients:
        # Extract features from each Patient object
        patient_features = {
            'patient_id': patient.patient_id,
            'age': patient.age,    # Replace with actual attributes
            'sex': patient.sex,
            'egfr': patient.egfr,  # Replace with actual attribute access
            'uact': patient.uacr,
            'egfrA': patient.average_egfr,
            'uacrA': patient.average_uacr,
            'ckd': patient.ckd_stage,
            # Add all other relevant features
        }
        features.append(patient_features)

    pos_trn_df = pd.DataFrame(features)
    print(type(pos_trn_df))
    return pos_trn_df

In [21]:
neg_trn_df = convert_to_df(neg_patients)

neg_trn_df.to_csv(DATA_DIR/"michal"/"neg_trn.csv", index=False)
neg_trn_df

<class 'pandas.core.frame.DataFrame'>

       patient_id   age  sex   egfr  uact   egfrA  uacrA  ckd
0         1242230  79.0    0   78.0   NaN   78.60    NaN  NaN
1          588630  97.0    0    NaN   NaN     NaN    NaN  NaN
2         1513340  61.0    1    NaN   NaN     NaN    NaN  NaN
3         1320700  88.0    0    NaN   NaN     NaN    NaN  NaN
4         1335890  76.0    0   84.6   NaN   82.44    NaN  NaN
...           ...   ...  ...    ...   ...     ...    ...  ...
10297     1506230  19.0    0  126.6   NaN  126.60    NaN  NaN
10298     1228330  58.0    1   74.4   NaN   74.40    NaN  NaN
10299     1176350  55.0    1   63.6   NaN   66.30    NaN  NaN
10300     1471970  75.0    0   88.2   NaN   88.20    NaN  NaN
10301     1300190  92.0    1   31.7   NaN   31.70    NaN  NaN

[10302 rows x 8 columns]

In [22]:
pos_trn_df = convert_to_df(pos_patients)
pos_trn_df.to_csv(DATA_DIR/"michal"/"pos_trn.csv", index=False)
pos_trn_df

<class 'pandas.core.frame.DataFrame'>

     patient_id  age  sex  egfr  uact      egfrA  uacrA  ckd
0           600   75    1  32.4   NaN  34.320000    NaN  NaN
1          2650   74    0  50.0   NaN  50.000000    NaN  NaN
2       1345390   67    1   NaN   NaN        NaN    NaN  NaN
3        207060   41    1  33.0   NaN  34.035165    NaN  NaN
4       1235800   42    0   NaN   NaN        NaN    NaN  NaN
..          ...  ...  ...   ...   ...        ...    ...  ...
960        7200   69    0   NaN   NaN        NaN    NaN  NaN
961     1317280   65    1   NaN   NaN        NaN    NaN  NaN
962     1287780   63    0   NaN   NaN        NaN    NaN  NaN
963     1318900   61    0  47.4   5.8  43.350000    5.8  2.0
964     1311040   57    1   NaN   NaN        NaN    NaN  NaN

[965 rows x 8 columns]

In [23]:
pos_tst = [Patient(p, datetime.strptime(date_of_pos_tst[i], "%Y-%m-%d").date()-time_delta) for i, p in enumerate(pos_tst)]
neg_tsts = [Patient(p,None) for p in neg_tst]

In [24]:
neg_tst_df = convert_to_df(neg_tsts)
neg_tst_df.to_csv(DATA_DIR/"michal"/"neg_tst.csv", index=False)
pos_tst_df = convert_to_df(pos_tst)
pos_tst_df.to_csv(DATA_DIR/"michal"/"pos_tst.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>